export(
"align.ibm1",
"align.symmet",
"align.test",
"bidictionary",
"cross.table",
"evaluation",
"excel2rdata",
"neighbor",
"nfirst2lower",
"prepare.data",
"remove.punct")

import("data.table", "openxlsx" )

importFrom("utils", "fix", "relist")

S3method(print, align)



