export(
"align_test.set",
"cons.agn",
"culf",
"Evaluation1",
"ExcelToR",
"mydictionary",
"prepareData",
"squareN",
"Symmetrization",
"word_alignIBM1")

import("data.table", "quanteda", "openxlsx" )

importFrom("utils", "fix", "relist")

S3method(print, alignment)
S3method(print, symmet)

